In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Build a book recommender system 
# data source: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

In [114]:
books = pd.read_csv('data/BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1", warn_bad_lines=False) 
# "error_bad_lines" is used to handle bad lines (too many/few fields) 
print list(books)
print books.size
books.sample(5)

[u'ISBN', u'Book-Title', u'Book-Author', u'Year-Of-Publication', u'Publisher', u'Image-URL-S', u'Image-URL-M', u'Image-URL-L']
2170880

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
178423,0871230429,The coming world dictator,John Wesley White,1981,Bethany Fellowship,http://images.amazon.com/images/P/0871230429.0...,http://images.amazon.com/images/P/0871230429.0...,http://images.amazon.com/images/P/0871230429.0...
101457,0738205257,Faster Than the Speed of Light: The Story of a...,Joao Magueijo,2003,Perseus Books Group,http://images.amazon.com/images/P/0738205257.0...,http://images.amazon.com/images/P/0738205257.0...,http://images.amazon.com/images/P/0738205257.0...
29238,1931686459,The Brick Testament: Stories from the Book of ...,Brendan Powell Smith,2003,Quirk Books,http://images.amazon.com/images/P/1931686459.0...,http://images.amazon.com/images/P/1931686459.0...,http://images.amazon.com/images/P/1931686459.0...
171085,0140187529,The Wayward Bus (Penguin Great Books of the 20...,John Steinbeck,1995,Penguin Books,http://images.amazon.com/images/P/0140187529.0...,http://images.amazon.com/images/P/0140187529.0...,http://images.amazon.com/images/P/0140187529.0...
250052,0425064212,Code Blue/Nurses Sty,Barbara Huttman,1984,Berkley Publishing Group,http://images.amazon.com/images/P/0425064212.0...,http://images.amazon.com/images/P/0425064212.0...,http://images.amazon.com/images/P/0425064212.0...

In [84]:
users = pd.read_csv('data/BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']
users.sample(5)

        userID                                  Location   Age
139788  139789                    florence, alabama, usa  57.0
179302  179303                        austin, texas, usa  44.0
127158  127159                        hillard, ohio, usa   NaN
16158    16159                  toronto, ontario, canada  37.0
220022  220023  bur dubai, arizona, united arab emirates  31.0

In [85]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']
ratings.sample(5)

         userID        ISBN  bookRating
527960   127389  0345391055           7
483071   115003  0425129586           8
986086   236948  0140073868           0
861528   208406  0684163268           9
1145023  275357  0375726403           9

In [97]:
print books[books['Book-Author']==("Jane Austin")][["Book-Title","Book-Author"]] # Misspelling of Jane Austen detected

                                               Book-Title  Book-Author
71954   Sense &amp; Sensibility (Everyman's Poetry Ser...  Jane Austin
112798  The Works of Jane Austen: Minor Works (The Oxf...  Jane Austin
196222                                Orgullo Y Prejuicio  Jane Austin

In [110]:
print books[books['Book-Title']==("Pride and Prejudice")][["Year-Of-Publication"]] # Different versions

       Year-Of-Publication
41                    1983
6744                  1981
13196                 1988
16830                 1993
18484                 1996
20541                 1961
24229                 1997
43980                 1981
46627                 1987
51202                 1995
52734                 1994
86942                 1980
142551                1961
182425                1961
187301                1961
193794                   0
203146                1985
227420                1999

In [111]:
# Looking for Hemingway's books
print books[books['Book-Author'].str.contains("Ernest Hemingway")==True][["Book-Title"]]

                                               Book-Title
703                                   OLD MAN AND THE SEA
1086                                     Farewell To Arms
1614                             Le Vieil Homme et la Mer
1709    Short Stories of Ernest Hemingway (A Scribner ...
2945         The Old Man and the Sea (A Scribner Classic)
3456              A Farewell to Arms (A Scribner Classic)
6148                                Green Hills of Africa
7137                                       Sun Also Rises
7146                                  Old Man and the Sea
13108                 A Moveable Feast (Scribner Classic)
14755                                         In Our Time
18424                              The TORRENTS OF SPRING
18426                                TO HAVE AND HAVE NOT
18428                                    A Moveable Feast
18563                             For Whom the Bell Tolls
18564            True At First Light : A Fictional Memoir
18624   The snows of Kilimanjaro, and other stories (A...
20855               A Moveable Feast (Moveable Feast Srs)
23164             The Sun Also Rises (A Scribner classic)
23814                                  NICK ADAMS STORIES
27437                               Islands in the Stream
27722                   Wem die Stunde schlÃ?Â¤gt. Roman.
28353                                   El Viejo y El Mar
28401                                       SHORT STORIES
29460                               In einem andern Land.
29667   For Whome the Bell Tolls  (REISSUE) (A Scribne...
34375         For Whom the Bell Tolls (Scribner Classics)
35062                                  The Sun Also Rises
36025             Old Man And The Sea (Scribner Classics)
39447           El Viejo Y El Mar/the Old Man and the Sea
...                                                   ...
167487                         Le Soleil se lÃ?Â¨ve aussi
171208                               The DANGEROUS SUMMER
177662                                     Sun Also Rises
180645                                True at First Light
180888                               Paris Era Una Fiesta
185197               Ernest Hemingway Audio Collection CD
190727                          Por Quien Doblan Campanas
197604                            The Old Man and the Sea
202168                            GefÃ?Â¤hrlicher Sommer.
203390  COMPLETE SHORT STORIES OF ERNEST HEMINGWAY (FI...
208030                Across The River And Into The Trees
214502          GREEN HILLS OF AFRICA (Scribner Classics)
219672                               Hemingway on Fishing
222049  The Snows of Kilimanjaro and Other Stories (Sc...
223061                    Islands in the Stream : A Novel
226622                            Die Nick Adams Stories.
226626  Der Abend vor der Schlacht. Stories aus dem sp...
230250                       The First Forty Nine Stories
235386  Por Quien Doblan Los Campanas/for Whom the Bel...
236324                                  El Viejo Y El Mar
239407                                Old Man and the Sea
240169            In Our Time: Stories (Scribner Classic)
241916  Best Of Bad Hemingway, Vol 2: More Choice Entr...
245525  The One That Got Away and Other Tales of the S...
255409                               To Have and Have Not
259765                               Hemingway on Fishing
262939  To Have and Have Not (To Have &amp; Have Not Srs)
263393                                   A Moveable Feast
265724           Green Hills of Africa (Scribner Classic)
269835                             Pour qui sonne le glas

[110 rows x 1 columns]

In [ ]:
# Multiple entries of "old man and the sea" detected

# If the user purchases "old man and the sea", recommend three other books from the same author with the top ratings (duplicates removed)
# Then recommend a few other books recommended by the same readers who provided a high rating of the current book